
.hr{
    margin:25px;
}

#mainHeaderText:hover {
    transform: scale(1.02);
    cursor: none;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.7);
}

#mainHeaderText{
    transition: 1s;

    text-align: center;
    grid-column: 1/6;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    color:#fff;
}

hr{
    color:#ffffff;
}

#logoText{
    grid-column: 1/5;
    margin-left:45px;
    align-self: center;
    grid-row: 1/2;
}

#logoContainer{
    margin-left: 30px;
    grid-column: 1/5;
    grid-row: 1/2;
    display:grid;
    width: 200px;
}

#header-image-container{
    grid-column: 1/6;
    grid-row: 1/5;
    /*  filter: blur(4px);
      -webkit-filter: blur(4px);
    */
      background-size: cover!important;
      background:
            linear-gradient(
                    rgba(0, 0, 5, 0.4),
                    rgba(0, 0, 5, 0.4)
            ),
            url(../images/main_webdesign.jpg);

    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

header{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-height:100vh;
    overflow: hidden;
    height: 500px;
}

@media(max-width: 500px) {
    #mainHeaderText h1, h2 {
        font-size: 18pt;
        line-height: 150%;
    }
    #mainHeaderText_Sub, hr{
        display: none;
    }
}

@media(max-width:850px){
    #logoText{
        display:none;
    }
}

@media(min-width:1200px){
    #mainHeaderText{
        padding:0px 100px;
    }
}
@media(min-width:1400px){
    #mainHeaderText{
        grid-column: 2/5;
        padding:0px 10px;
    }
}






