
#logo{
    width:35px;
    grid-column: 1/2;
    align-self: center;
    grid-row: 1/2;
    float:left;
}

@media(max-width:600px){
    #logo{
        grid-column: 1/3;
        margin-left:-10px;
        width:40px;
    }
}