
@import "nav.css";
@import "link.css";
@import "footer.css";
@import "sections.css";
@import "header.css";
@import "form.css";
@import "profil.css";
@import "img.css";
@import "text.css";
@import "technology.css";
@import "price.css";
@import "webdesign.css";
@import "copyright.css";

*{
    margin:0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:#bdc3c7;
    font-family: 'Raleway', Arial, Verdana;
    font-size: 17px;
    max-height: 2000px;
}

h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

h1{
    padding: 20px;
}







