
#technology-background{
    background:
            linear-gradient(
                    rgba(0, 0, 0, 1),
                    rgba(0, 0, 0, 0.5)
            ),
                /* bottom, image */
            url("../images/html-code-scharf.jpg");
    background-attachment: fixed;
    background-position: center center;
}

.block-klasse img{
    width:270px;
}

.block-klasse{
    text-align: center;
    padding: 15px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    justify-self: center;
    transition: 0.7s;
    min-width: 185px;
    line-height: 160%;
    color: #000000;
    min-width: 250px;
    height: 650px;
    grid-row-start: 2;
    padding-bottom: 50px;
    overflow: auto;
}

@media(min-width: 700px) and (max-width: 1170px){
    .wrapper{
        row-gap: 15px;
    }
    .block-klasse{
        column-gap: 0px;
        min-width: 200px;
    }
    #blocks-content-html {
        grid-column: 2/5 !important;
        justify-self: left;
    }
    #blocks-content-css {
        grid-column: 5/8 !important;
        justify-self: right;
    }
    #blocks-content-javascript {
        grid-column: 2/8 !important;
        grid-row: 3/4 !important;
        justify-self: normal;
        align-self: normal;
        width: 100%;
        padding:0px;
        height: 500px;
        margin: 30px 0px 50px 0px;
    }
    .header-text{
        margin: 40px 0px 40px 0px;
    }
}

@media(max-width: 699px){
    #blocks-background{
    background-image:
linear-gradient(
rgba(0, 0, 0, 0.9),
rgba(0, 0, 0, 0.9)
),
    /* bottom, image */
url("../images/html-code-scharf.jpg");
    }
    .text-container{
        margin: 5px !important;
    }
    .wrapper {
        height: 2500px;
        grid-template-rows: repeat(6, 1fr);
    }
    .block-klasse{
        grid-column: 1/9 !important;
    }
    #blocks-content-html {
        grid-row: 2/3 !important;
    }
    #blocks-content-css {
        grid-row: 4/5 !important;
    }
    #blocks-content-javascript {
        grid-row: 6/7 !important;
        margin-bottom: 50px;
    }
}

.block-klasse:hover{
    transform: scale(1.1);
}

#blocks-content-html{
    grid-column: 2/4;
}

#blocks-content-css{
    grid-column: 4/6;
}

#blocks-content-javascript{
    grid-column: 6/8;
}

.text-container{
    margin: 25px;

}
